* {
  margin: 0;
  padding: 0;
}

h1 {
  color: aliceblue;
  background-color: rgb(40, 36, 36);
  padding: 1.5rem;
  justify-content: center;
  display: flex;
}
.choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
  align-items: center;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 6rem;
}

.choice:hover {
  cursor: pointer;
  background-color: black;
}

img {
  border-radius: 6rem;
  height: 190px;
  width: 180px;
  object-fit: cover;
}

.score-bored {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 4rem;
  gap: 2rem;
  
}
#user-score,#comp-score{
    font-size: 4rem;
}


.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}
#msg{
    padding: 1rem;
    background-color:black;
    color: rgb(251, 251, 251);
    
    display: inline;
    font-size: 2rem;
    border-radius: 3rem;
   
}
